<div class="todos-wrapper">
    <div class="container">
        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text!</p>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi at commodi
                consequatur cum deserunt dolor doloribus eius facilis fugiat, fugit ipsa itaque iure, placeat quibusdam
                quos, repellat sed vel.</p>
        </div>
    </div>
</div>
